/ ------This view is for the Homepage index (companies#index)--------

/ ----------- TEXT to add a company --------
/ = link_to "New Company", new_company_path

/ ----------- BUTTON to add a company --------
.button
	%a{:href => 'companies/new', :class => 'button'}
		%img{:src=> 'assets/button-new.png'}

/  ---------  LISTING Companies ---------
- @companies.each do |x|
	.company
		.logo
			= image_tag 'http://placehold.it/125x75'
		.info
			%h3= link_to x.name, x.website, :target => "_blank"
			%p= x.description
			.actions
				= link_to 'Show', company_path(x)
				= link_to 'Edit', edit_company_path(x)
				= link_to 'Delete', x, :confirm => 'Are you sure?', :method => :delete

/ linh_to helper in html syntax: 
/ <a href="/company/4" data-confirm="Are you sure?" data-method="delete">Delete</a> 
/ Jquery ujs pauses the href from redirecting and runs the data stuff first.
/ The "delete" method generates a temp, blank form and submits it instead of the get request.
