/ ------This view is for the Homepage index (companies#index)--------

/ ----------- TEXT to add a company --------
/ = link_to "New Company", new_company_path

/ ----------- BUTTON to add a company --------
.button
	%a{:href => 'companies/new', :class => 'button'}
		%img{:src=> 'assets/Button.13.Peter-c.jpg'}


/  ---------  LISTING Companies from CrunchBase API ---------
- @crunchbase_companies.each do |crunchbase_company|
-  @crunchbase_company = crunchbase_company
	.company
		.title
			%h3
				=link_to crunchbase_company["name"], 'company_path(crunchbase_company)'
		.block
			.logo
				= image_tag "http://www.crunchbase.com/company/#{crunchbase_company['name']}/#{crunchbase_company['image']}"
			.info
				.overview
					= crunchbase_company['overview']
				.info2
					%p= link_to 'Website', crunchbase_company['homepage_url'], {:target => "_blank"}
					%p= "Category: #{crunchbase_company['category_code']}"
				%p
					= link_to 'Edit', 'edit_company_path(crunchbase_company)'
					= link_to 'Delete', crunchbase_company, :confirm => 'Are you sure?', :method => :delete

			%br

/ ------- Inspecting Objects from CrunchBase API ------
%b
	crunchbase_companies.class: 
%p
	= @crunchbase_companies.class
%b
	crunchbase_companies[0].class:
%p
	= @crunchbase_companies[0].class
%b
	crunchbase_companies[0]: 
%p
	= @crunchbase_companies[0]
%b
	json_file.inspect:
%p
	= @json_file.inspect

/ linh_to helper in html syntax: 
/ <a href="/company/4" data-confirm="Are you sure?" data-method="delete">Delete</a> 
/ Jquery ujs pauses the href from redirecting and runs the data stuff first.
/ The "delete" method generates a temp, blank form and submits it instead of the get request.
