%h1 Add a Company
%br

= form_for(@company) do |l|
	- if @company.errors.any?
		%h2= pluralize(@company.errors.count, "error") + "prohibited this link from being saved:"
		%ul
			- @company.errors.full_messages.each do |msg|
				%li= msg
	.field
		= l.label :name
		%br
	.field
		= l.text_field :name
		%br
	%br
	.field
		= l.label :address1, "Address"
		%br
	.field
		= l.text_field :address1
		%br
	%br
	.field
		= l.label :website
		%br
	.field
		= l.text_field :website
		%br

	%br
	.field
		= l.label :description, "Description: add 1-3 sentence description"
		%br
	.field
		= l.text_field :description

	.actions= l.submit "Submit"