<!DOCTYPE html>
<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Nosifer|Cabin+Condensed|Londrina+Sketch|Frijole|Source+Code+Pro' rel='stylesheet' type='text/css'>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<title><%= page_title(@company) %></title>
	</head>

	<body>
		<header>
			<a class="mia" href="/">
				<h1>Made.In.ATX</h1>
			</a>
			<nav>
				<span class="tagline"> A caboodle of technology companies in Austin, TX</span>
			</nav>
		</header>	
		</br>
		<%= yield %>
	</body>

</html>
